<section id="view-single-note">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2>Viewing Note: {{note.note_title}}</h2>
      <ul id="note-options" class="d-flex">
        <li><a routerLink="/note/edit/{{note.id}}">Edit</a></li>
        <li><a routerLink="/note/delete/:id">Delete</a></li>
        <li><a routerLink="/notes"> &lt; Back to All Notes</a></li>
      </ul>

      <div id="note">
        <p>
          {{note.note_text}}
        </p>

      </div>
    </div>
  </div>
</section>